[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
coveralls = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-eradicate = {version = "*",markers = "python_version > '3.5'"}
flake8-import-order = "*"
flake8-quotes = "*"
mypy = "*"
pep8-naming = "*"
sphinx = "*"

[packages]
apertium-streamparser = "*"
